*.exe
/fissile
coverage.xml
build/
man/
fissile-*.tgz
scripts/compilation/compilation.go
scripts/dockerfiles/dockerfiles.go
scripts/templates/transformations.go
*_generated.go
*~
*/*.test
/test-assets/*/.dev_builds
/test-assets/*/.blobs
